<!--NAVBAR-->
<div class="fixed-top container-fluid ">
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent text-white">
          <a class="navbar-brand" href="#Inicio">TEST-CHILE S.A.</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ">
              <li class="nav-item active"><a class="nav-link" href="#Inicio">Inicio <span class="sr-only">(current)</span></a></li>
              <li class="nav-item"><a class="nav-link" href="#empresa">Salir</a></li>
            </ul>
          </div>
  </nav>
</div>

<h2 class="mb-2 mt-5">Clientes registrados</h2>

<table class="table text-white">
  <thead>
    <tr>
      <th scope="col">Rut</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Telefono</th>
      <th scope="col">Direccion</th>
      <th scope="col">email</th>
    </tr>
  </thead>

  <tbody id="cuerpo">
    {{#each clientes}}
      <tr>
        <td>{{this.rut}}</td>
        <td>{{this.nombre}}</td>
        <td>{{this.apellido}}</td>
        <td>{{this.telefono}}</td>
        <td>{{this.direccion}}</td>
        <td>{{this.email}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>




