<!--NAVBAR-->
<div class="fixed-top container-fluid mb-5 ">
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent text-white">
    <a class="navbar-brand" href="#Inicio">TEST-CHILE S.A.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item active"><a class="nav-link" href="/Home">Inicio <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.google.cl">Salir</a></li>
      </ul>
    </div>
  </nav>
</div>

<table class="table container">
    <h2 class="mt-5">Solicitud de Clientes</h2>
  <thead>
    <tr>
      <th scope="col">id solicitud</th>
      <th scope="col">Rut</th>
      <th scope="col">fecha solicitud</th>
      <th scope="col">numero certificacion</th>
      <th scope="col">fecha entrega</th>
      <th scope="col">estado solicitud</th>
      <th scope="col">codigo equipo</th>
      <th scope="col">Accion a Ejecutar</th>
    </tr>
  </thead>

  <tbody id="cuerpo">
    {{#each clientes}}
      <tr>
        <td>{{this.id_solicitud}}</td>
        <td>{{this.rut_id}}</td>
        <td>{{this.fecha_solicitud}}</td>
        <td>{{this.numero_certificacion}}</td>
        <td>{{this.fecha_entrega}}</td>
        <td>{{this.estado_solicitud}}</td>
        <td>{{this.codigo_equipo}}</td>
     
      <td><button id="finalizar" class="btn btn-success" onclick="finalizarServicio()">Finalizar Servicio</button></td>
     </tr>
     {{/each}}
  </tbody>
</table>



